<div class="container">
    <div class="header d-flex justify-content-between pt-4">
        <img src="../assets/logo.svg" alt="" class="logo" />
        <div class="d-flex align-items-center">
            <button
                nz-button
                [nzSize]="'large'"
                nzType="default"
                class="
                    font-weight-normal
                    pr-3
                    nav-font-size
                    d-flex
                    align-items-center
                    background-white
                    no-border
                    not-focus not-hover
                "
            >
                <a href="#letterMotivation">Lettre de motivation</a>
            </button>
            <button
                nz-button
                [nzSize]="'large'"
                nzType="default"
                class="
                    font-weight-normal
                    pr-3
                    nav-font-size
                    d-flex
                    align-items-center
                    background-white
                    no-border
                    not-focus not-hover
                "
            >
                <a href="#projects">Projets</a>
            </button>
            <button
                nz-button
                nzType="default"
                [nzSize]="'large'"
                nzShape="round"
                class="
                    font-weight-normal
                    nav-font-size
                    btn-contact
                    d-flex
                    align-items-center
                    background-white
                "
            >
                <a href="#Contact">Contact</a>
            </button>
        </div>
    </div>
    <div class="section-1 row d-flex justify-content-center flex-column">
        <h1 class="text-center font-weight-bold">
            Schoolboy, Beginner Developer & Robotics enthusiast
        </h1>
        <p class="text-center font-weight-normal font-size-baseline">
            I design and code beautifully simple things, and I love what I do.
        </p>
        <img src="../assets/clovis.svg" alt="" class="clovis" />
        <img src="../assets/ordi.svg" alt="" />
    </div>
</div>

<div
    class="section-2 text-white text-center d-flex justify-content-center"
    id="letterMotivation"
>
    <div class="col-sm-6 padding-class">
        <h4 class="text-white font-size-title">Motivation Letter</h4>
        <p
            class="font-size-paragraph"
            [innerHTML]="motivationLetterExtrait"
        ></p>
        <nz-switch
            [(ngModel)]="englishVersion"
            nzCheckedChildren="EN"
            nzUnCheckedChildren="FR"
            (ngModelChange)="handleTrantslateMotivationLetter()"
            class="pr-3"
        ></nz-switch>
        <button
            nz-button
            [nzType]="'primary'"
            (click)="showModal()"
            class="section-2 border-section-3 box-shadow-inherit"
        >
            Lire la suite...
        </button>
        <nz-modal
            [(nzVisible)]="isVisible"
            nzWidth="1000px"
            nzTitle="Lettre de Motivation"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()"
            [nzContent]="motivationLetter"
        >
        </nz-modal>
    </div>
</div>

<div
    class="
        d-flex
        justify-content-center
        text-center
        font-size-column
        negative-margin
        pb-5
    "
>
    <div
        class="
            col col-sm-3
            border-column-left
            border-right-column
            border-top-and-botton
            border-radius-left
            shadow-sm
            bg-white
        "
    >
        <img src="../assets/gears.svg" alt="" class="icone mb-5" />
        <H2>Les Outils utilisés impression 3D, résine</H2>
        <H4>Les Machines</H4>
        <div class="text-center mr-4 ml-4">
            <br />Imprimante 3D (CR_10) <br />
            Imprimante 3D résine Photon (anycubic)
            <br />Wash & Cure Machine 2.0 (anycubic)
        </div>
        <H4 class="mt-5">Les logiciels</H4>
        <br />Ultimaker Cura <br />freeCAD <br />Fusion360 <br />Chitubox
    </div>

    <div
        class="
            col col-sm-3
            border-right-column border-top-and-botton
            shadow-sm
            bg-white
        "
    >
        <img src="../assets/2-14_.jpg" alt="" class="icone mb-5" />
        <H2>Les Outils de Code utilisés</H2>
        <H4 class="mt-5">Setup</H4>
        <div class="text-center mr-4 ml-4">
            <br />Souris logitech M705 <br />
            Clavier déporté klim <br />
            Ordinateur Lenovo thinkPad intel i5, 8G RAM,
            <br />
            Ecran benq GW2270<br />Casque hyperX Cloud2
        </div>
        <H4 class="mt-5">IDE & Languages</H4>
        <br />VSCode <br />Html 5 & Css 3 <br />TS (typescript)
    </div>

    <div
        class="
            col col-sm-3
            border-right-column border-top-and-botton border-radius-right
            shadow-sm
            bg-white
        "
    >
        <img src="../assets/arduino-icone.jpg" alt="" class="icone mb-5" />
        <H2>Les Outils utilisés pour Arduino</H2>
        <H4 class="mt-5">Matériel</H4>
        <div class="text-centermr-4 ml-4">
            <br />Câble USB <br />Écran LCD1602 <br />Servo(SG90) <br />HC-SR501
            <br />Carte de prototypage
        </div>
        <H4 class="mt-5">Le logiciel & formations</H4>
        <br />Arduino <br />Formation avec Adonis Chakra <br />Formation avec
        Devenir Ingénieur
    </div>
</div>
<div class="padding-project margin-project" id="projects">
    <div class="pading-project">
        <h2 class="text-center">Mes Projets 3D</h2>
        <div class="d-flex justify-content-center">
            <div
                class="container-image"
                (click)="showProjectModal(contentProjectHeadphone)"
            >
                <img src="../assets/train-bois.JPG" alt="" class="image" />
                <div class="overlay cursor-pointer">
                    <h2 class="text-image">
                        Mechanical Gears 3D wooden puzzle
                    </h2>
                </div>
            </div>

            <div
                class="container-image"
                (click)="showProjectModal(contentProjectPot)"
            >
                <img src="../assets/pot4.jpg" alt="" class="image" />
                <div class="overlay">
                    <h2 class="text-image">
                        Projets d'un pot de plante en lévitation. En cours ...
                    </h2>
                </div>
            </div>
            <div
                class="container-image"
                (click)="showProjectModal(contentProjectImprimante)"
            >
                <img
                    src="../assets/imprimante-résine-3D.JPG"
                    alt=""
                    class="image"
                />
                <div class="overlay">
                    <h2 class="text-image">
                        Une imprimante 3D qui permet de faire des impressions en
                        résine.
                    </h2>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div
                class="d-flex justify-content-center"
                (click)="showProjectModal(contentProjectImprimantePLA)"
            >
                <div class="container-image">
                    <img
                        src="../assets/imprimante-3D.JPG"
                        alt=""
                        class="image"
                    />
                    <div class="overlay">
                        <h2 class="text-image">
                            Une imprimante 3D qui permet de réaliser des
                            impréssions en plastique.
                        </h2>
                    </div>
                </div>
            </div>
            <div
                class="container-image"
                (click)="showProjectModal(contentProjectObjet3D)"
            >
                <img
                    src="../assets/objet-3D-et-résine-min.JPG"
                    alt=""
                    class="image"
                />
                <div class="overlay">
                    <h2 class="text-image">
                        Voici un extrait des différentes impréssion réaliser par
                        mes imprimantes.
                    </h2>
                </div>
            </div>
            <div
                class="container-image"
                (click)="showProjectModal(contentProjectObjet)"
            >
                <img
                    src="../assets/repair-csaque-min.JPG"
                    alt=""
                    class="image"
                />
                <div class="overlay">
                    <h2 class="text-image">
                        Voici un extrait des différentes impréssion réaliser par
                        mes imprimantes.
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">Mes Projets de Code</h2>
    <div class="d-flex justify-content-center">
        <div
            class="container-image"
            (click)="showProjectModal(contentProjectScratch)"
        >
            <img src="../assets/mariobross2.png" alt="" class="image" />
            <div class="overlay">
                <h2 class="text-image">
                    Un extrait du code d'un mini mario sur scratch.
                </h2>
            </div>
        </div>
        <div
            class="container-image"
            (click)="showProjectModal(contentProjectVSCode)"
        >
            <img src="../assets/code-portfolio.png" alt="" class="image" />
            <div class="overlay">
                <h2 class="text-image">
                    Des morceaux de code de site que j'ai créer.
                </h2>
            </div>
        </div>
    </div>
</div>

<div
    class="
        section-2
        text-white text-center
        d-flex
        justify-content-center
        flex-column
        align-items-center
    "
>
    <div class="paddind-img">
        <img src="../assets/logo-white.svg" alt="" class="logo" />
    </div>
    <p class="font-size-baseline color-text">
        Living, learning, & leveling up one day at a time.
    </p>

    <div class="mb-4 d-flex">
        <a
            target="_blank"
            href="https://github.com/clovis-design"
            class="
                d-flex
                justify-content-center
                border-round
                background-color-logo-footer
                mr-3
            "
            id="Contact"
            ><i
                nz-icon
                nzType="github"
                nzTheme="outline"
                class="texte-decoration p-3 icone-size icone-github"
            ></i
        ></a>
        <a
            href="mailto:clovis.sanceo@yahoo.com"
            class="
                d-flex
                justify-content-center
                border-round
                background-color-logo-footer
            "
            ><i
                nz-icon
                nzType="mail"
                nzTheme="outline"
                class="texte-decoration p-3 icone-size icone-github"
            ></i
        ></a>
    </div>
    <p class="color-text font-size-contact">Made with ❤️ by Clovis Sanceo</p>
</div>

<router-outlet></router-outlet>
