
<div class="container">
<div class="header d-flex justify-content-between pt-4">
    <img src="../assets/logo.svg" alt="" class="logo">
    <div class="d-flex align-items-center">
        <button nz-button [nzSize]="'large'" nzType="default" class="font-weight-normal pr-3 nav-font-size d-flex align-items-center background-white no-border not-focus not-hover">Lettre de motivation</button>
        <button nz-button [nzSize]="'large'" nzType="default" class="font-weight-normal pr-3 nav-font-size d-flex align-items-center background-white no-border not-focus not-hover">Projets</button>
        <button nz-button nzType="default" [nzSize]="'large'" nzShape="round"
         class="font-weight-normal nav-font-size btn-contact d-flex align-items-center background-white">Contact
        </button>
    </div>
</div>
<div class="section-1 row d-flex justify-content-center flex-column">
    <h1 class="text-center font-weight-bold">Designer, Front-end Developer & Mentor</h1>
    <p class="text-center font-weight-normal font-size-baseline">I design and code beautifully simple things, and I love what I do.</p>
    <img src="../assets/clovis.svg" alt="" class="clovis">
    <img src="../assets/ordi.svg" alt="">
</div>
</div>

<div class="section-2 text-white text-center row d-flex justify-content-center">
    <div class="col-sm-6 padding-class">
        <h4 class="text-white font-size-title">Hi, I’m Matt. Nice to meet you.</h4>
        <p class="font-size-paragraph">Since beginning my journey as a freelance designer nearly 10 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</p>
    </div>
</div>














<router-outlet></router-outlet>