.header {
  margin: 0 auto;
}

.logo {
  height: 48px;
  width: 48px;
}

.nav-font-size {
  font-size: 1.2rem;
}

.btn-contact {
  color: #7510f7;
  border: 2px solid #7510f7;
}

.background-white {
  background-color: white;
  box-shadow: inherit;
}

.no-border {
  border: inherit;
}

.not-focus:focus {
  color: inherit;
}
.not-hover:hover {
  color: inherit;
}

.container {
  max-width: 1440px;
}

.section-1 {
  padding-top: 6rem;
}

.font-size-baseline {
  font-size: 1.5rem;
}

.clovis {
  margin-top: 32px;
  margin-bottom: 75px;
}
.section-2 {
  background-color: #7510f7;
}

.font-size-paragraph {
  font-size: 1.25rem;
}

.font-size-title {
  font-size: 2rem;
}

.padding-class {
  padding-top: 144px;
  padding-bottom: 288px;
  padding-left: 24px;
  padding-right: 24px;
}
