.header {
    margin: 0 auto;
}

.logo {
    height: 48px;
    width: 48px;
}

.nav-font-size {
    font-size: 1.2rem;
}

.btn-contact {
    color: #7510f7;
    border: 2px solid #7510f7;
}

.background-white {
    background-color: white;
    box-shadow: inherit;
}

.no-border {
    border: inherit;
}

.not-focus:focus {
    color: inherit;
}
.not-hover:hover {
    color: inherit;
}

.container {
    max-width: 1440px;
}

.section-1 {
    padding-top: 6rem;
}

.font-size-baseline {
    font-size: 1.5rem;
}

.clovis {
    margin-top: 32px;
    margin-bottom: 75px;
}
.section-2 {
    background-color: #7510f7;
}
.box-shadow-inherit {
    box-shadow: inherit;
}

.font-size-paragraph {
    font-size: 1.25rem;
}

.font-size-title {
    font-size: 2rem;
}

.padding-class {
    padding-top: 144px;
    padding-bottom: 288px;
    padding-left: 24px;
    padding-right: 24px;
}

.font-size-column {
    font-size: 1.25rem;
}
.border-right-column {
    border-right: 1px solid lightgrey;
}

.border-column-left {
    border-left: 1px solid lightgrey;
}

.border-top-and-botton {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.border-radius-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.border-radius-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.negative-margin {
    margin-top: -125px;
}
.background-color-white {
    background-color: white;
}

.padding-project {
    padding-top: 144px;
    padding-bottom: 144px;
    padding-right: 24px;
    padding-left: 24px;
}

.margin-project {
    margin-bottom: 24px;
}

.text-image {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-image:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.container-image {
    position: relative;
    width: 383px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 255px;
    width: 383px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #7510f7;
    border-radius: 20px;
}

.image {
    display: block;
    width: 383px;
    height: 255px;
    border-radius: 20px;
    padding: 12px;
}

.icone {
    width: 100px;
    height: 100px;
}

.border-section-3 {
    border-radius: 10px;
    border-color: rgb(167, 162, 162);
}

.pading-project {
    padding-bottom: 50px;
}
.icone-size {
    font-size: 1.3rem;
}
.border-color-grey {
    border-color: lightgrey;
}
.texte-decoration {
    text-decoration: none;
    color: white;
}
.border-round {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.background-color-logo-footer:hover {
    .icone-github {
        color: #7510f7;
    }
    background-color: white;
    transition: 0.5s ease;
}

.cursor-pointer {
    cursor: pointer;
}
.color-text {
    color: lightgrey;
}
.font-size-contact {
    font-size: 1rem;
}
.paddind-img {
    padding-top: 50px;
    padding-bottom: 28px;
}
.list-style {
    list-style: url('../assets/rocket.svg');
}
